.placeWork {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 150px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
