.placeWork {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 150px;
}


.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.mixing {
    background-image: linear-gradient(transparent,rgba(20, 194, 232, 0.99), rgba(196, 113, 237, 0.96), rgba(246, 79, 89, 0.98));
}